/**
* Editor Style
*/

.wp-block-create-block-simple-text {
    border: 2px dotted rgb(43, 42, 42);
    background-color: #e1ecf1;
    color: #1a1717;
    padding: 2px;
}

.mxImageSection .block-editor-rich-text__editable {
    white-space: pre-wrap;
    min-width: 1px;
    border: 1px solid #007cba;
    background: #c0e9fe;
    padding: 10px;
    width: 100%;
}